/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/dataSources/06dbe736-f254-48c7-b931-f2c57f312eab.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dico-darmanin.iml
/.idea/dataSources/06dbe736-f254-48c7-b931-f2c57f312eab/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/modules.xml
/.idea/dataSources/06dbe736-f254-48c7-b931-f2c57f312eab/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/php.xml
/.idea/phpunit.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
