# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.xml
/dico-darmanin.iml
/modules.xml
/php.xml
/phpunit.xml
/sqldialects.xml
/vcs.xml
